<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Chat</title>
</head>
<body> 
    <h1> Crie ou Acesse uma Sala </h1>

    <form action="checkviews" method="POST">
        {% csrf_token %}
        <label for="room_name">Room name:</label>
        <input type="text" name="room_name" id="room_name" required>
        <br>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <br>
        <button style="background-color:  green; color: white;" type="submit">Entrar na sala</button>
    </form>
    

    
</body>
</html>