<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label> Django Chat </label>
    <hr>
    <label for="Room Name"> Room name</label>
    <br>
    <input type="text">
    <br>
    <label for="UserName"> UserName</label>
    <br>
    <input type="text">

    <br>
    <br>
    
    <button style="background-color:  green; color: white;"> Entrar na sala</button>
</body>
</html>