<!DOCTYPE html>
<html>
<head>
    <title>Sala de Chat</title>
</head>
<body>
    <h1>Bem-vindo à Sala de Chat</h1>
    
    <p>Usuário: {{ username }}</p><br><br>
    <p>Sala: {{ room_name }}</p>
    
    <hr>
    
    <h2>Mensagens:</h2>
    <ul>
        {% for message in messages %}
            <li>{{ message.value }} - {{ message.user.username }}</li>
        {% endfor %}
    </ul>
    
    <!-- Formulário para enviar mensagens -->
    <form method="post">
        {% csrf_token %}
        <input type="text" name="message" placeholder="Digite sua mensagem" required>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
